body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

/* A R V O T U N    A N E K D O O T I N    S I S Ä L T Ä V Ä    B O X I..... */
.anecdote{
  border: 2px solid #EBEBEB;
  background-color: #f00;
  color: white;
  padding: .5rem;
}

/* V A L I T T U  A N E K D O O T T I */
.selected {
  font-size: 1.5em;  
  font-style: italic;
}

.votes {
  font-size: 1.2em;  
}

/* P A I N I K K E E T */
.anecdoteButton {
  display: block;
  color: white;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.anecdoteButton:hover {
  background-color: #ddd;
  color: black;
}

.bgBlack {
  background-color: black;

}

.bgGray {
  background-color: gray;
}

/* O T S I K O T */
.title {
  color: #111; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 3em; 
  font-weight: bold; 
  letter-spacing: 2px; 
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}

/* S U O S I T U I N   A N E K D O O T T I */
.mostPopular{
  color: #4c4a37; 
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 18px; 
  line-height: 32px; 
  margin: 0 0 24px; 
}

/* V A L I T T U  A N E K D O O T T I */
.mostPopularSelected {
  font-size: 1em;  
  font-style: italic;
}

.mostPopularVotes {
  font-size: 0.8em;  
}